*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    
}
nav a{
    padding: 1rem;
    text-decoration: none;
    color: white;
}
.logo{
    display: flex;
    justify-content: flex-end;
    height: 3.438rem;
}
body{
    background-color: antiquewhite;
}
.main{
    min-height: 80vh;
}
footer{
    background-color: black;
    color: white;
    height: 10vh;
}
.cajitahome{
    width: 37.5rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
    margin: 2rem auto;
}
.home2{
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    height: 1.563rem;
    top: 2rem;
    left: 0.625rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home{
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    height: 1.563rem;
    top: 0.625rem;
    left: 0.625rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.boton{
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    width: 5.313rem;
    border-radius: 20%;
    height: 1.563rem;
    top: 0.625rem;
    left: 0.625rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.img1{
    display:flex;
    justify-content: center;
    margin: 2rem;   
}
.img2{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.cajita1{
    background-color: aqua;
    width: 37.5rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
    margin: 2rem auto;
}
#imagen-dere, #centro-imagen{
    width: 43.75rem;
    height: 30rem;
}
#abajo-izquierda{
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    position: absolute;
    width: 30rem;
    top: 0.625rem;
    left: 0.625rem;
    top: 40%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}




/*css about */


.a1, .a2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.aboutsec{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gym-1, .gym-2, .gym-3{
    width: 15rem;
    height: 20rem;
}
.abouttext{
    background-color: rgb(197, 201, 4);
    width: 15rem;
}





/* CSS CONTACT */


.cajacontact{
    width: 37.5rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
    margin: 2rem auto;
}
.pp{
    font-size: 3rem;
    color: rgb(0, 0, 0);
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ppp{
    font-size: 3rem;
    color: rgb(0, 0, 0);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
}
.pcontact{
    display: flex;
    justify-content: space-evenly;
}
.pppp{
    width: 20rem;
    margin-bottom: 1rem;
}
.mailt{
    width: 17rem;
    margin-bottom: 1rem;
}





/* css Schedule*/


table{
    margin-top: 50px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 7.2rem;
}

td,th{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.schedu{
    text-align: center;
    padding: 10px;
}

.schedu1{
    text-align: center;
}






/* css benefits*/


.tipstittle, .tipssubtitle{
    padding: 10px;
    text-align: center;
}
.todas-las-cajas{
    display: flex;
    justify-content: space-around;
}
.pngti{
    width: 15rem;
}
.pngte{
    width: 15rem;
}
.perro{
    padding: 10px;
    margin: 7px;
}
.gato{

    padding-left: 1rem;
}
.cajate, .cajati{
    width: 15rem;
}





/* css forms and maps */


.fm{
    text-align: center;
    margin: 2rem;
}
.fm1{
    text-align: center;
}
.controlimg{
    float: left;
    width: 30rem;
    margin: 4rem;
}
.imgfm1{
    padding: 1rem;
    width: 30rem;
    height: 20rem;
}
.imgfm2{
    padding: 1rem;
    width: 30rem;
    height: 20rem;
}
.forms1{ background-color: rgb(182, 178, 178);
    text-align: center;
    padding: 2rem;
    float: right;
    margin-right: 10rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
    width: 20rem;    
}
.formsmaps{
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
footer{
    padding: 0;
    text-align: center;
}






@media only screen and (min-width:320px) and (max-width:767px)
{ 
    header{
        background-color: rgb(255, 0, 0);
        flex-direction: column;
    }

    .cajitahome{
        width: 20rem;
        object-fit: cover;   
    }
    .home{
        font-size: 20px;
    }
    .home2{
        font-size: 17px;
    }
    .cajita1{
        width: 20rem;
    }
    #abajo-izquierda{
        width: 15rem;
        height: 10rem;
        font-size: 19px;
    }
    .cajacontact{
        width: 20rem;
    }
    .pp{
        font-size: 40px;
    }
    .ppp{
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    .pppp{
        height: auto;
        width: auto;
        font-size: 15px;
    }
    .mailt{
        height: auto;
        width: auto;
    }
    .todas-las-cajas{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .controlimg{
        padding: 10px;
        margin: 0rem;
        width:0;
    }
    .imgfm1{
        width: 20rem;
    } 
    .imgfm2{
        width: 20rem;
    }
    .maps{
        width: 25rem;
        padding-left: 2px;

    }
    .forms1{
        width: 20rem;
        margin: 2rem;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    table{
        margin-top: px;
        caption-side: bottom;

        border-collapse: collapse;
        margin-bottom: 2rem;
    }
    
    td,th{
        border: 2px solid black;
        padding-left: 4px;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px)
{
    header{
        background-color: rgb(250, 250, 89);
    }
}


